.dialog {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% auto;
  grid-template-areas:
    "textfield textfield"
    "suggestions subscribed";
  
  justify-items: center;
  
  .dialogTextField {
    grid-area: textfield;
  }

  .subscribedSubreddits{
    grid-area: subscribed;
  }

  .subredditSuggestions {
    grid-area: suggestions;
  }


}

  .dialogTitle {
    @extend h1;
    font-weight: bold;
    font-size: 1.5em;
  }