.dialog {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% auto;
  grid-template-areas:
    "topicTextField topicTextField"
    "subredditTextField subredditTextField"
    "suggestions subscribed";
  
  justify-items: center;
  
  .topicTextField {
    grid-area: topicTextField;
  }

  .subredditTextField {
    grid-area: subredditTextField;
  }

  .subscribedSubreddits{
    grid-area: subscribed;
  }

  .subredditSuggestions {
    grid-area: suggestions;
  }

  @include breakpoint(medium) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% auto;
    grid-template-areas:
    "topicTextField subredditTextField"
    "suggestions subscribed";
  
  }


}

  .dialogTitle {
    @extend h1;
    font-weight: bold;
    font-size: 1.5em;
  }