.Navigation {
  grid-area: nav;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "logo addSubreddits"
    "logo filter";
  
  margin-top: 30px;
  justify-items: center;
  .filter {
    grid-area: filter;

  }

  .subredditSuggestions {
    grid-area: addSubreddits;
    padding-top: 20px;
  }

  .logo {
    grid-area: logo;
  }

}