.Navigation {
  grid-area: nav;
  display: grid;
  grid-template-rows: 80% 10% 10%;
  grid-template-areas:
    "logo"
    "addSubreddits"
    "filter";
  
  justify-items: center;
  .filter {
    grid-area: filter;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
      "icon dropdown";

    .fa-filter {
      grid-area: icon;
    }

    .subredditFilter {
      grid-area: dropdown;
    }
  }

  .subredditSuggestions {
    grid-area: addSubreddits;
  }

  .logo {
    grid-area: logo;
  }

}