.App {
  font-family: $sans-serif;

  h1, h2, h3 {
    font-family: $serif;
  }

  li {
    list-style: none
  }
  
  .background {
    width: 100%;
    position: fixed;
    height: 100%;
    padding:0;
    margin:0;
    top:0;
    left:0;
    overflow: overlay;
    z-index: -99;
  }
}