.postTile {
  width: 22em;
  height: 10em;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px 2px;

  @include breakpoint(small) {
    width: 19em;
  }


  .imageOverlay, .textOverlay {
    height: 100%;
    width: 100%;
    transition: .5s ease;

    .postTitle {
      padding: 10px;
      color: white;
      transition: .2s ease;
    }
  }

  .imageOverlay {
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0));
  }

  .textOverlay {
    background: none;
  }

  &:hover {
    .postTitle {
      opacity: 1;
    }

    .imageOverlay {
      opacity: 1;
    }
  }

}