@mixin breakpoint($point) {
  @if $point ==  medium {
	    @media (min-width: 1024px)  { @content; }
  	}
	@else if $point ==  small {
		@media (min-width: 640px)  { @content; }
	}
	@else if $point ==  mobile {
		@media (min-width: 360px)  { @content; }
	}
}

@mixin capsule($component) {
  @if $component == content {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 4px solid $richBlack;
  }
  @else if $component == comments {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  height: 450px;
  border-radius: 80px;
  &:hover {
    background: $mintCream;
  }
}

@mixin pulsate {
  -webkit-transition: all .3s ease; /* Safari and Chrome */
  -moz-transition: all .3s ease; /* Firefox */
  -o-transition: all .3s ease; /* IE 9 */
  -ms-transition: all .3s ease; /* Opera */
  transition: all .3s ease;

  &:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
  }
}