/* Color Palatte */
$lightOrange: #F4A261;
$darkOrange: #E76F51;
$brightOrange: #E55934;
$dirtyYellow: #E9C46A;
$babyBlue: #5BC0EB;
$mintCream: #F7FFF7;
$pewterBlue: #9CAFB7;
$richBlack: #00171F;

/* Font */
$serif: 'Playfair Display', serif;
$sans-serif: 'Raleway', sans-serif;

/* Breakpoints */
$small: 480px;
$medium: 840px;
$large: 1160px;