html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 5px;
  
  
  .App {
    font-family: $sans-serif;
    h1, h2, h3 {
      font-family: $serif;
    }

    li {
      list-style: none
    }
  }

}